body{
    background-color: aliceblue;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height: 5rem;
}
.fa-airbnb{
    color:#fe424d;
    font-size: 2rem;  
}
.nav-link{
    color:#222222;
}
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    /* color:#222222; */
}
.f-info-links{
    width: 100%;
}
.f-info-socials{
    width: 100%;
    font-size: 1.2rem;

}
.f-info-socials i{
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color:#ebebeb ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-size: 400;
}

/* link for click */
.listing-link{
    text-decoration:none;
}
/* overlay Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New page btn color */

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

.show-card{
    display: flex;
    gap:20px;
}

#map {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
}



